extends ../../layouts/default


//- INCLUDES
include ../../mixins/post

//- INTRO
block intro

	article#hero

		section.hero-details: .container

			//- Attending
			section.attending
				h3.heading-with-line new members
				ul.list-unstyled.list-inline.text-center.attendees-list
					for attendee in members
						if attendee && attendee.isPublic
							li: a(href=attendee.url, title=attendee.name.full)
								img(src=attendee.photo.exists ? attendee._.photo.thumbnail(80,80) : attendee.avatarUrl || '/images/avatar.png', width=40, height=40, alt=attendee.name.full).img-circle
						else
							li(title=attendee.name.full): img(src=attendee.photo.exists ? attendee._.photo.thumbnail(80,80) : attendee.avatarUrl || '/images/avatar.png', width=40, height=40, alt=attendee.name.full).img-circle

//- BODY
block content
	.page-content

		//- About
		article.section.section--featured.home-about: .container
			.row: .col-sm-8.col-sm-offset-2
				p.lead.color-white We are talking about mobile phone game ideas & sharing our new game apps.
			if !user
				.row: .col-sm-4.col-sm-offset-4
					a(href='/join', data-from=page.path).js-auth-trigger.btn.btn-lg.btn-block.btn-primary.mv-1
						span.text-caps JOIN NOW
			else 
				.row: .col-sm-4.col-sm-offset-4
					a(href='/members', data-from=page.path).btn.btn-lg.btn-block.btn-primary.mv-1
						span.text-caps FIND MORE

//- JS
block js
